@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --roboto-font: 'Roboto', sans-serif;
    --playfair-font: 'Playfair Display', serif;
}

h1 {
    color: #333;
    text-align: center;
    font-family: var(--playfair-font);
}

p {
    color: #333;
    font-family: var(--roboto-font);
}

img {
    max-width: 1rem;
}